<!DOCTYPE html>
<html xmlns:th:"http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<h1>Hello World!</h1>
	
	input value : <input type="number" id="val" /> <br />
	result : <input type="number" id="result" readonly="readonly" /> <br />
	
	<button onclick="plus()">Click</button>
	
	<script	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	crossorigin="anonymous"></script>
	<script th:inline="javascript">
		function plus() {
			var val = $("#val").val();
			var num = /*[[${num}]]*/;
			$("#result").val(val*1 + num*1);
		}
	</script>
	
</body>
</html>